body{
    background-image: url("/img/Personnal/WALL.png");
}
.card{
    background-color: rgba(0, 0, 0, 0.8);
}
.card-text{
    color: rgba(0, 255, 0, 0.8);
    text-align: justify;
}
.card-title{
    color: rgba(0, 255, 0, 0.8);
}
.card-header{
    color: rgba(0, 255, 0, 0.8);
}
li{
    color: rgba(0, 255, 0, 0.8);
}
#Avatar{
    border: 2px;
    border-color: rgba(0, 255, 0, 0.8);
    border-style: solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 125px;
}
.btn-outline-success {
    margin-left: 15px;
}
#Image {
    border: 2px;
    border-color: rgba(0, 255, 0, 0.8);
    border-style: solid;
    width: 300px;
}
.Img{
    width: 200px;
    height: 100px;
    margin-left: 15px;
}
.video{
    vertical-align: auto;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}
.Icones{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#Ligne0{
    display: block;
}
#Ligne1{
    display: none;
}
#Ligne2{
    display: none;
}
#Ligne3{
    display: none;
}
#Ligne4{
    display: none;
}
#Ligne5{
    display: none;
}
#Ligne6{
    display: none;
}